.appDiv {
  background-color: rgb(245, 255, 250);
}
.nav {
  overflow: hidden;
  background-color: rgb(245, 255, 250);
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 15px;
  overflow: hidden;
}

li {
  float: left;
}

.navbutton {
  float: right;
  margin-right: 0;
}

.Navitem {
  float: left;
  display: block;
  color: #23cc2c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navitem:hover {
  background-color: rgba(48, 213, 235, 0.205);
}

.Navthing {
  float: right;
  display: block;
  color: #23cc2c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navthing:hover {
  background-color: rgba(48, 213, 235, 0.205);
}
.logo {
  /* align-content: center;
  width: 15%;
  height: 15%; */
  /* display: block;
  margin-left: auto;
  margin-right: auto;

  height: 45%;
  width: 45%; */
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body {
  background-color: mintcream;
  margin-top: 140px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
#profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-rows: repeat(5, 1fr); */
  overflow: hidden;
}
#user {
  background-color: rgba(76, 235, 160, 0.247);
  /* margin: 25px; */
  padding: 50px;
  /* display: fixed; */
  align-items: center;
  text-align-last: center;
  justify-content: center;
  grid-area: 1 / 1 / span 1 / span 3;
  border-style: double;
  border-color: rgb(4, 66, 42);
}
#userInfoDiv {
  background-color: mintcream;
  border-style: double;
  padding: 50px;
}

#plants {
  grid-column: 1;
  grid-row: 2 / 5;
  height: 1500px;
  /* max-height: 100%; */
  overflow-y: scroll;
  /* margin-left: 7px;
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 50px; */
}

#canvases {
  grid-column: 2/4;
  grid-row: 2/5;
  height: 1500px;
  overflow-y: scroll;
  display: fixed;
  align-items: center;
  justify-content: center;
}
#designHeader {
  text-align-last: center;
}
.canvasCard {
  background-color: mintcream;
  border-color: rgb(4, 66, 42);
  border-style: double;
  margin: 15px;
  padding: 20px;
}

.canvasImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.canvasDeleteButton {
  float: right;
  /* margin-right: 0; */
}

.plantCard {
  min-height: 10em;
  vertical-align: middle;
  padding-left: 7px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-top: 15px;
  border-style: double;
  border-color: rgb(4, 66, 42);
  margin: 15px;
  background-color: mintcream;
}

#plantHeader {
  text-align-last: center;
}

.plantImage {
  width: 69%;
  height: 69%;
  object-fit: contain;
}

.plantDeleteButton {
  float: left;
}
#plants.profileElement {
  background-color: rgba(76, 235, 160, 0.247);
  border-style: double;
  border-color: rgb(4, 66, 42);
}

#canvases.profileElement {
  background-color: rgba(76, 235, 160, 0.247);
  border-style: double;
  border-color: rgb(4, 66, 42);
}
.plantSearchImage {
  width: 69%;
  height: 69%;
  object-fit: contain;
  padding-left: 125px;
}

/* .addPlantButton {
  transition-duration: 0.4s;
}
.addPlantButton:hover {
  background-color: #4caf50; /* Green */
/* color: white;
} */

#plantPage {
  background-color: mintcream;
  border-style: double;
  padding: 50px;
}
#plantHeader {
  text-align: center;
}

#canvasPage {
  background-color: mintcream;
  border-style: double;
  padding: 50px;
}
