.nav {
  overflow: hidden;
  background-color: rgb(219, 171, 171);
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.Navitem {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navitem:hover {
  background-color: #111;
}

.Navthing {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.body {
  margin-top: 150px;
}

.navbutton {
  float: right;
  margin-right: 0;
}
